{% extends 'base.html.twig' %}

{% block title %}
    Create a task
{% endblock %}

{% block body %}
    <div class="col-md-5 list mb-1">
        <h3>L: {{ listing.name }}</h3>
    </div>
    {{ form_start(form, {'attr': {'style': 'width:100%;'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('.datetimepicker').datetimepicker({
                icons :  {
                    time: 'fa fa-time',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-remove'
                },
                sideBySide: true
            })
        })
    </script>
{% endblock %}